@import "../../styles/variables.scss";

.form {
    width: 100%;
    max-width: 400px;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .inputContainer {
      width: 100%;
      margin-bottom: 1rem;
      position: relative;
  
      label {
        display: block;
        margin-bottom: 0.5rem;
        color: $text-color2;
        font-weight: bold;
      }
  
      .inputField {
        width: 100%;
        padding: 0.75rem 2.5rem 0.75rem 1rem;
        border: 2px solid #122643;
        border-radius: 10px;
        outline: none;
        font-size: 1rem;
        background-color: #fe3c72;
        color: $text-color2;
      }
  
      .togglePassword {
        position: absolute;
        top: 67%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 1rem;
        color: #122643;
      }
  
      .error {
        color: red;
        font-size: 0.875rem;
        margin-top: 0.25rem;
      }
    }
  
    .submitButton,
    .backButton {
      padding: 1rem 2rem;
      margin: 0.5rem 0;
      background-color: #fe3c72;
      border: none;
      border-radius: 20px;
      color: #00050a;
      font-weight: bold;
      cursor: pointer;
      width: 100%;
      max-width: 300px;
    }
  }
  