/* Define SCSS variables */
$primary-color: #007bff;
$hover-color: #0056b3;
$background-color: #f9f9f9;
$border-color: #ddd;

.counterContainer {
  max-width: 30%;
  text-align: center;
  margin: 2em auto;
  padding: 20px;
  border: 1px solid $border-color;
  border-radius: 8px;
  background-color: $background-color;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    max-width: 90%;
  }
}

.title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.buttonGroup {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  color: #fff;
  background-color: $primary-color;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $hover-color;
  }
}
