@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Lato:wght@900&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,600&family=Raleway:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,900&display=swap');

body {
  background-color: #122643;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
}

.App {
  h1 {
    margin: 2em auto;
  }
}

.home-page {
  h2 {
    margin: 2em auto;
  }
}

.bar-loader {
  width: 100%;
  margin: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-modal-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 8em auto;
  .user-fingerprint {
    margin-bottom: 0.5em;
    font-size: 6rem;
    font-weight: 800;
    color: #fecbce;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1.5em;
  }

  p {
    width: 47%;
    margin: 0em auto 4em;
    color: #4b6383;
  }

  .log-in-button {
    background-color: #fecbce;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #142a49;
    font-size: 1.2rem;
    padding: 1em 10em;
    border-radius: 30px;
    border-style: none;
    margin-bottom: 2em;
    cursor: pointer;
  }
  .sign-up-button {
    background-color: transparent;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1.1rem;
    border-style: none;
    cursor: pointer;
  }
}

.sign-in-page {
  margin-top: 5em;
  h2 {
    font-size: 1.5rem;
    font-family: 'Arial', sans-serif;
    color: #fecbce;
  }
}

.sign-up-page {
  h2 {
    margin-top: 3em;
    font-size: 1.5rem;
    font-family: 'Arial', sans-serif;
    color: #fecbce;
  }
}

.sign-in {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 5em auto;
  font-family: 'Arial', sans-serif;

  label {
    font-size: 1.2rem;
    margin-bottom: 0.5em;
  }

  .input-container {
    position: relative;
    margin-bottom: 2em;

    .input-field {
      background-color: #fecbce;
      width: 80%;
      padding: 0.8em 2.1em;
      font-size: 1rem;
      font-weight: bold;
      border: 2px solid #122643;
      border-radius: 15px;
      outline: none;
    }

    .fa-user,
    .fa-lock,
    .fa-envelope {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.2rem;
      left: 85px;
      color: #122643;
    }
  }

  .log-in-button {
    background-color: #fecbce;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #142a49;
    font-size: 1.2rem;
    padding: 1em 2em;
    border-radius: 30px;
    border-style: none;
    margin-bottom: 2em;
    cursor: pointer;
  }

  .back-home-button {
    padding: 1em 3.5em;
    margin: 1em auto 0;
    background-color: #fecbce;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #122643;
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .submit-button {
    padding: 1em 5em;
    margin: 1em auto 0;
    background-color: #fecbce;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #122643;
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .login-button {
    padding: 1em 5.5em;
    margin-inline: auto;
    background-color: #fecbce;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #122643;
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
  }
}

.home-page {
  display: grid;
  grid-template-columns: 5% 30% 65%; /* Adjust column widths as needed */
  grid-template-rows: 100vh;
  grid-template-areas: 'user-profile inboxes chat-space';
  // border: 2px solid red;
  /* Adjust grid gap and other styling as needed */
}

.user-profile {
  position: relative;
  grid-area: user-profile;
  padding: 2em 1em;
  border-right: 1px solid #fecbce;
}

.inboxes {
  grid-area: inboxes;
  border-right: 1px solid #fecbce;
}

.chat-space {
  grid-area: chat-space;
  // border: 1px solid purple;
}

.icons-container-asidebar {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  row-gap: 3em;
}

.inbox-messages-icon,
.home-page-icon,
.search-messages-icon,
.reels-icon,
.app-logo,
.settings-modal-menu {
  padding: 8px;
  border-radius: 10px;
  color: #fecbce;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-color: #fecbce;
    color: #122643;
  }
}

.user-account-info {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 2em;
  color: #fecbce;
  border-bottom: 1px solid #fecbce;
  p {
    font-size: 1.2rem;
    cursor: pointer;
  }
  .user-info-edit-icon {
    font-size: 1.3rem;
    cursor: pointer;
  }
}

.settings-modal {
  padding: 0.8em;
  border-radius: 20px;
  position: absolute;
  top: 22%;
  background-color: #fecbce;
  width: 250px;
  display: flex;
  flex-direction: column;
  p {
    padding: 1em;
    font-size: 0.9rem;
    font-weight: bold;
    color: #122643;
    text-align: start;
    cursor: pointer;
    i {
      margin-right: 10px;
    }

    &:hover {
      background-color: #122643;
      color: #fecbce;
      border-radius: 10px;
    }
  }

  .button-log-out {
    margin-top: 1.5em;
    border: 1px solid #122643;
    border-radius: 10px;
    padding: 1em 0;
    font-size: 0.7em;
    font-weight: bold;
    color: #122643;
    background-color: #fecbce;
    cursor: pointer;
    &:hover {
      background-color: #122643;
      color: #fecbce;
    }
  }
}
