@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  background-color: #181f29;
  color: #fe3c72;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  text-align: center;
}

.light-mode {
  background-color: rgba(255, 255, 255, 0.688);
  // color: #00050a; /* Adjust text color for better readability */
}

.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #00050a;
  z-index: 999;
  place-content: center;
  .app-logo-overlay {
    margin-top: 200px;
    font-size: 4rem;
  }

  footer {
    margin-top: 15em;
  }
}
.App {
  h1 {
    margin: 2em auto;
  }
}

.home-page {
  .home-page-header-text {
    margin: 2em auto;
  }
}

.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Adjust opacity here */
  z-index: 200; /* Ensure the overlay is on top of other content */
}

.bar-loader {
  width: 100%;
  margin: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-modal-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 8em auto;
  .user-fingerprint {
    margin-bottom: 0.5em;
    font-size: 6rem;
    font-weight: 800;
    color: #fe3c72;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1.5em;
  }

  p {
    width: 47%;
    margin: 0em auto 4em;
    color: #4b6383;
  }

  .log-in-button {
    background-color: #fe3c72;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #00050a;
    font-size: 1.2rem;
    padding: 1em 10em;
    border-radius: 30px;
    border-style: none;
    margin-bottom: 2em;
    cursor: pointer;
  }
  .sign-up-button {
    background-color: transparent;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1.1rem;
    border-style: none;
    cursor: pointer;
  }
}

.sign-in-page {
  margin-top: 5em;
  h2 {
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #fe3c72;
    i {
      color: #fe3c72;
    }
  }
}

.sign-up-page {
  h2 {
    margin-top: 3em;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #fe3c72;
  }
}

.sign-in {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 5em auto;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;

  label {
    font-size: 1.2rem;
    margin-bottom: 0.5em;
    color: white;
  }

  .input-container {
    position: relative;
    margin-bottom: 2em;

    .input-field {
      background-color: #fe3c72;
      width: 80%;
      padding: 0.8em 2.1em;
      font-size: 1rem;
      font-weight: bold;
      border: 2px solid #122643;
      border-radius: 15px;
      outline: none;
    }

    .fa-user,
    .fa-lock,
    .fa-envelope {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.2rem;
      left: 85px;
      color: #122643;
    }
  }

  .log-in-button {
    background-color: #fe3c72;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #142a49;
    font-size: 1.2rem;
    padding: 1em 2em;
    border-radius: 30px;
    border-style: none;
    margin-bottom: 2em;
    cursor: pointer;
  }

  .back-home-button {
    padding: 1em 3.5em;
    margin: 1em auto 0;
    background-color: #fe3c72;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #00050a;
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .submit-button {
    padding: 1em 5em;
    margin: 1em auto 0;
    background-color: #fe3c72;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #00050a;
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .login-button {
    padding: 1em 5.5em;
    margin-inline: auto;
    background-color: #fe3c72;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #00050a;
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
  }
}

.home-page {
  position: relative;
  display: grid;
  grid-template-columns: 5% 30% 65%; /* Adjust column widths as needed */
  grid-template-rows: 100vh;
  grid-template-areas: 'user-profile inboxes chat-space';
  // border: 2px solid red;
  /* Adjust grid gap and other styling as needed */
}

.aside-component-container {
  display: flex;
}
.user-settings {
  width: 80%;
}

.user-profile {
  grid-area: user-profile;
  padding: 2em 1em;
  border-right: 1px solid #fe3c72;
}

.inboxes {
  grid-area: inboxes;
  border-right: 1px solid #fe3c72;
}

.chat-space {
  grid-area: chat-space;
  // border: 1px solid purple;
}

.icons-container-asidebar {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  row-gap: 3em;
}

.inbox-messages-icon,
.home-page-icon,
.search-messages-icon,
.reels-icon,
.app-logo,
.settings-modal-menu {
  padding: 8px;
  border-radius: 10px;
  color: #fe3c72;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-color: #fe3c72;
    color: #00050a;
    transform: scaleX(1.1);
  }
}

.user-account-info {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 1.5em;
  color: #fe3c72;
  border-bottom: 1px solid #fe3c72;
  align-items: center;
  .user-username {
    background-color: #fe3c72;
    color: #00050a;
    padding: 1em 1.5em;
    border-radius: 15px;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
      background-color: #efd6d7;
    }
  }
  .user-info-edit-icon {
    font-size: 1.3rem;
    cursor: pointer;
  }
}
.inbox-message-heading {
  margin-top: 1em;
  font-size: 1.2rem;
}

.settings-modal {
  padding: 0.8em;
  border-radius: 20px;
  position: absolute;
  top: 30%;
  background-color: #00050a;
  width: 250px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  p {
    padding: 1em;
    font-size: 0.9rem;
    font-weight: bold;
    color: #fe3c72;
    text-align: start;
    cursor: pointer;
    i {
      margin-right: 10px;
    }

    &:hover {
      background-color: #fe3c72;
      color: #00050a;
      border-radius: 10px;
    }
  }

  .button-log-out {
    margin-top: 1.5em;
    border: 1px solid #122643;
    border-radius: 10px;
    padding: 1em 0;
    font-size: 0.7em;
    font-weight: bold;
    color: #00050a;
    background-color: #fe3c72;
    cursor: pointer;
    &:hover {
      background-color: #d75a7d;
      color: #00050a;
    }
  }
}

.create-new-message-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 450px;
  border-radius: 30px;
  background-color: #00050a;
  z-index: 5;
}

.new-message-header {
  text-align: center;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #fe3c72;
  .new-message-text {
    flex: 1;
    text-align: center;
    font-size: 1.1rem;
  }
  .fa-xmark {
    font-size: 1.4rem;
    margin-left: auto;
    cursor: pointer;
  }
}

.search-box {
  padding: 1em;
  border-bottom: 1px solid #fe3c72;
  span {
    margin-right: 0.5em;
  }
  input {
    width: 90%;
    border-style: none;
    background-color: inherit;
    color: white;
    &::placeholder {
      color: #fe3c72;
    }
  }
}

.start-chat-button {
  width: 90%;
  margin: 14em auto 0;
  padding: 0.8em 0;
  border-style: none;
  border-radius: 15px;
  background-color: #fe3c72;
  color: #00050a;
  font-size: 1.1rem;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    background-color: #1c2632;
    color: #fe3c72;
  }
}

.search-modal-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 29.7%;
  height: 100vh;
  background-color: #00050a;
  visibility: hidden;
  transition: transform 0.5s ease;
  .search-header {
    border-bottom: 1px solid #fe3c72;

    .search-header-text {
      padding: 1em 0.8em;
      font-size: 1.5rem;
      text-align: start;
    }
  }
}

.search-box-modal {
  width: 100%;
  padding: 1em 1em 2em;
  input {
    width: 100%;
    padding: 1em;
    background-color: #fe3c72;
    border-style: none;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    outline: none;

    &::placeholder {
      color: #00050a;
      font-family: 'Rubik', sans-serif;
      font-weight: bold;
    }
  }
}

.search-modal-content.show {
  visibility: visible;
  transform: translateX(17.4%);
}

.chat-container {
  position: relative;
  padding: 1em;
  // border: 2px solid red;
}

.chat-messages {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: start;
  height: 100%; /* Ensure the chat container has a fixed height for scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
  scroll-snap-type: y mandatory;
  font-size: 1rem;
}

.message-text-chat {
  background-color: #fe3c72;
  padding: 0.4em;
  border-radius: 10px;
  color: #00050a;
  scroll-snap-align: start;
}

.chat-input {
  position: absolute;
  display: flex;
  width: 95%;
  top: 90%;

  input {
    width: 100%;
    padding: 1.5em 3.5em;
    border-style: none;
    border-radius: 15px;
    background-color: #fe3c72;
    color: white;
    font-family: 'Rubik', sans-serif;

    &::placeholder {
      font-family: 'Rubik', sans-serif;
      color: white;
    }
  }

  .emoji-icon-click {
    position: absolute;
    top: 32%;
    left: 1%;
    color: #00050a;
    font-size: 1.3rem;
    cursor: pointer;
  }

  .send-message-button {
    position: absolute;
    background-color: #00050a;
    padding: 0.8em 1em;
    color: #fe3c72;
    left: 90%;
    top: 20%;
    border-style: none;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    cursor: pointer;
  }
}

.emoji-picker-container {
  position: absolute;
  top: 32%;
  background-color: #fe3c72;
  border-radius: 20px;
  h2 {
    color: #00050a;
    background-color: #fe3c72;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
  }

  input {
    outline: none;
    border: 1px solid #00050a;
    background-color: #00050a;
    color: #fe3c72;
  }
}

.settings-heading-text {
  text-align: center;
}

.account-center-heading {
  margin: 2em 0;
  font-size: 1.2rem;
}

.edit-profile-container {
  padding: 3em;
  width: 80%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  row-gap: 2em;

  h3 {
    margin-bottom: 2em;
    font-size: 1.2rem;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    text-align: start;
  }

  form {
    margin-top: 2em;
  }
}

.user-account-component-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.user-profile-photo {
  padding: 1em;
  border-radius: 30px;
  background-color: #fe3c72;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo-name-box {
  display: flex;
  gap: 1em;
  align-items: center;
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
  .username-span-settings {
    color: #00050a;
  }
}

.button-change-photo {
  padding: 1em 2em;
  background-color: #00050a;
  border-style: none;
  color: #fe3c72;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

.user-bio-container {
  text-align: start;

  h4 {
    font-size: 1.2rem;
    margin-bottom: 1em;
  }

  textarea {
    padding: 1em 2em;
    background-color: #fe3c72;
    color: #00050a;
    border-style: none;
    border-radius: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    &::placeholder {
      color: #00050a;
      font-family: 'Rubik', sans-serif;
      font-weight: bold;
    }
  }
}

.user-gender-container {
  h4 {
    font-size: 1.2rem;
    margin-bottom: 1em;
    text-align: start;
  }
  select {
    background-color: #fe3c72;
    width: 100%;
    padding: 1em 2em;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    border-style: none;
    border-radius: 20px;
  }
}
.submit-button-userprofile {
  background-color: #fe3c72;
  width: 40%;
  margin: 2em auto;
  color: #00050a;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  border-style: none;
  border-radius: 20px;
  padding: 1em 5em;
  cursor: pointer;
  transition: 0.5s all;
  &:hover {
    background-color: #d75a7d;
  }
}

.company-name {
  font-size: 1.2rem;
}

.account-center-buttons-box {
  width: 50%;
  margin: 1em auto;
  background-color: #fe3c72;
  color: #00050a;
  border-radius: 10px;
  cursor: pointer;

  button {
    background-color: inherit;
    border-style: none;
    padding: 1em;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    cursor: pointer;
  }
}

.attachment-user-photo-box {
  padding: 2em 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 250px;
  border-radius: 30px;
  background-color: #00050a;
  z-index: 600;
  h3 {
    text-align: center;
  }

  input {
    width: 40%;
    margin-inline: auto;
  }
}

// Switch Mode
.switch-appereance-container {
  padding: 1.2em;
  border-radius: 30px;
  position: absolute;
  top: 42%;
  background-color: #00050a;
  width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  z-index: 10;

  .swp-child {
    padding: 1.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    border-radius: 20px;
    cursor: pointer;
    i {
      font-size: 0.9rem;
    }

    &:hover {
      background-color: #fe3c72;
      color: #00050a;
      .slider {
        background-color: #00050a;
      }
    }
  }

  .swp-child-change-mode {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-radius: 20px;

    &:hover {
      background-color: #fe3c72;
      color: #00050a;
      cursor: pointer;
    }
  }
}

/* The switch - the box around the toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}

/* Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider - the ball of the toggle */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fe3c72;
  transition: 0.4s;
  border-radius: 34px;
}

/* Styling when checked */
.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 7px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* When the toggle is checked, move the ball to the right */
input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

// User Profile
.user-profile-info {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1.2em;

  .profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    .user-photo-header {
      display: flex;
      flex-direction: column;
      gap: 2em;
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-right: 20px;
        object-fit: cover;
        display: block;
        margin-inline: auto;
      }

      button {
        padding: 0.5em 1em;
        background-color: #fe3c72;
        color: #00050a;
        border-style: none;
        border-radius: 10px;
        font-family: 'Rubik', sans-serif;
        margin-right: 1em;
        cursor: pointer;
      }

      h1 {
        font-size: 1.5rem;
        margin: 0;
      }

      p {
        margin: 5px 0;
      }

      .follow-info {
        margin-right: 2em;
        font-size: 0.9rem;
        span {
          margin-right: 10px;
        }
      }
    }
  }
}

h2 {
  color: white;
  font-size: 1.1rem;
}
.user-posts {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 0.2em;

  .post {
    width: 33%;

    img {
      width: 100%;
      height: 330px;
      object-fit: cover;
    }
  }

  p {
    margin: 5px 0;
  }
}
