$primary-color: #fe3c72;
$background-color: #00050a;
$text-color: #ffffff;
$icon-color: #122643;
$button-text-color: #00050a;

.modal {
  width: 35%;
  background-color: $background-color;
  padding: 3em 2em;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;

  @media (max-width: 768px) {
    width: 90%;
    padding: 2em 1.5em;
  }

  .close {
    font-size: 1.5rem;
    color: $text-color;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    &:hover {
      color: $primary-color;
    }
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;

    label {
      font-size: 1.2rem;
      color: $text-color;
      font-weight: bold;
    }

    input {
      width: 100%;
      padding: 0.5em 2.7em;
      background-color: $primary-color;
      border: none;
      border-radius: 8px;
      font-size: 1rem;
      color: $text-color;
      outline: none;
      font-family: 'Rubik', sans-serif;
    }

    .envelope_icon {
      position: absolute;
      top: 41%;
      // left: 20%;
      left: 1rem;
      transform: translateY(-50%);
      color: $icon-color;
      font-size: 1.2rem;
    }

    button {
      width: 100%;
      padding: 0.8em;
      background-color: $primary-color;
      color: $button-text-color;
      border: none;
      border-radius: 8px;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;

      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }
  }

  .message {
    margin-top: 1em;
    font-size: 1.1rem;
    color: $primary-color;
    text-align: center;
  }
}
