@import "../../styles//variables.scss";



.signUpPage {
  width: 100%;
  margin: 2em auto;
  max-width: 600px;
  margin: 2rem auto;
  text-align: center;
  font-family: 'Rubik', sans-serif;

  h2 {
    font-size: 2rem;
    color: $primary-color;
    margin-bottom: 1rem;
  }

  .app-logo {
    margin-left: 0.5rem;
  }
}
